.clients {
  padding-top: 9.5rem;

  .clients__partners {
    margin-bottom: 225px;
  }

  .testimonials--list {
    position: relative;
  }

  &__title {
    margin-bottom: 56px;
  }

  .testimonials-cards__descr {
    margin-bottom: 5px;
  }

  .partners__title {
    margin-bottom: 60px;
  }

  .clients__testimonials {
    margin-bottom: 60px;
  }

  .testimonials__btn {
    position: absolute;
    right: 2px;
    bottom: -11px;
    display: flex;

    &:hover {
      .portfolio-btn__icon {
        fill: var(--color-white);
      }
    }

  }

  .portfolio-btn__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-800);

  }

  &--partners {
    padding-bottom: 116px;
  }

  &--work {
    padding-top: 8rem;

    .partners {
      margin-bottom: 120px;
      padding-top: 55px;
    }

    .testimonials__banner{
      display: flex;
      justify-content: flex-end;
    }

  }

  &--about{
    padding-top: 21.5rem;

    .clients__title{
      margin-bottom: 19px;
    }
    .clients__descr{
      margin-bottom: 61px;
    }

    .clients__partners{
      margin-bottom: 0;
    }
  }

}
