.hero {
  position: relative;
  margin-bottom: 6rem;
  padding: 221px 0 120px;
  background-image: url("@img/homePageFirstSlideBG.jpg");

  background-size: cover;
  background-repeat: no-repeat;

  &__btn {
    margin-bottom: 180px;
  }

  .slider-item {
    max-width: 59.5rem;
  }

  .slider__header {
    margin-bottom: 24px;
  }

  .slider__descr {
    margin-bottom: 61px;
  }

  .hero-slider__form {
    display: flex;
    column-gap: 21px;
    margin-bottom: 177px;
  }

  .learn-btn {
    height: 52px;
  }

  .submit-btn {
    height: 52px;
  }

  .form__btn {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    transition: transform 0.3s ease;

    &:hover {
      border: none;
      transform: scale(1.02);
    }
  }

  .submit-btn {
    border: none;
    background-color: var(--color-primary);
  }

  .slider__btn-prev {
    position: absolute;
    top: 47.5%;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 0.5px solid var(--color-grey-600);
    border-radius: 50%;
    background-color: var(--color-grey-500);

    &:hover {
      border: none;
    }

    .arrow-prev {
      width: 24px;
      height: 24px;
      fill: var(--color-grey-800);
    }
  }

  .slider__btn-next {
    position: absolute;
    top: 47.5%;
    right: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 0.5px solid var(--color-grey-600);
    border-radius: 50%;
    background-color: var(--color-grey-500);

    &:hover {
      border: none;
    }
  }

  .arrow-next {
    width: 24px;
    height: 24px;
    fill: var(--color-grey-800);
  }

  .control-pages {
    display: flex;
    column-gap: 4px;

    &__page {
      width: 178px;
    }

    &__number {
      margin-bottom: 12px;
      font-size: 28px;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }

    &__line {
      border: 1px solid rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &--secondary {
    margin-bottom: 0;
    padding: 152px 0 116px;
    background-image: url("@img/servicesPage-heroBG.png");

  }

  &--design {
    margin-bottom: 0;
    padding: 151px 0 53px;
    background-image: url("@img/interior-desing-page-bg.png");

  }

  &--work {
    margin-bottom: 0;
    padding: 152px 0 116px;
    background-image: url("@img/work-page-bg.png");
  }

  .hero--work__container {
    position: relative;
  }

  &--cottage {
    padding: 151px 0 120px;
    background-image: none;

    .hero--cottage__container {
      position: relative;
    }

    .hero__title {
      margin-bottom: 65px;
      line-height: 120%;
      letter-spacing: 2px;
    }
  }
}

.home-page {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-bottom: 40px;
}

.cottage-slider {
  overflow: hidden;

  &__items {
    position: relative;
    left: 0;
    display: flex;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;
  }

  &__item {
    min-width: 100%;
  }

  &__duplicate {
    display: flex;
    gap: 20px;
  }

  &-btn {
    .slider__btn-prev {
      top: 52%;
      left: 46px;
    }

    .slider__btn-next {
      top: 52%;
      right: 46px;
    }
  }
}
