.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 390px));
  gap: 30px;
  margin-bottom: 79px;
  cursor: pointer;

  &__card {
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }

  .portfolio-card {
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover {

      z-index: 5;
      border-radius: 4px;

      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
      0px 30px 24px -10px rgba(154, 156, 165, 0.1),
      0px 12px 10px -6px rgba(154, 156, 165, 0.08),
      0px 4px 4px -4px rgba(30, 33, 44, 0.05);

      .portfolio-card__link {
        display: block;
      }

      .portfolio-card__text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 100%;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
      }

    }
  }

  .portfolio-card__bg {
    height: 345px;
    margin-bottom: 16px;
  }

  .portfolio-card__bg-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .portfolio-card__btn {
    display: flex;
    align-self: center;
    justify-content: center;
    // margin-bottom: 24px;
  }

  .portfolio-card__link {
    display: none;
  }

}
