.portfolio {
    padding-bottom: 12rem;

    .portfolio__container {
        position: relative;
    }

    .portfolio-title {
        max-width: 705px;
        margin-bottom: 60px;
    }

    .portfolio-card__title {
        margin-bottom: 4px;
    }

    .portfolio-card__descr {
        margin-bottom: 24px;
    }

    .portfolio-slider__btn {
        position: absolute;
        top: 120px;
        right: 15px;


        display: flex;
        column-gap: 12px;
    }

}