.team {
  padding-top: 18rem;

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 61px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 285px));
    gap: 60px 30px;
    margin-bottom: 81px;
  }

  &__vacancies{
    display: flex;
    justify-content: center;
    column-gap: 4px;

    .team__vacancies-link{
      font-size: 18px;
      line-height: 150%;
      color: var(--color-primary);
      text-decoration: underline;
    }
  }

  &__card {
    position: relative;
  }
}

.card {

  &__name-text {
    margin-bottom: 3px;
  }

  &__img {
    margin-bottom: 16px;
  }

  &__social-line {
    position: absolute;
    bottom: 74px;
    left: 50%;
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    opacity: 0;
    transform: translate(-50%);
    transition: all 0.4s ease;
  }

  &:hover {
    .card__social-line {
      background: rgba(#FF5A30, 0.7);
      opacity: 1;
    }

  }

  .social__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
  }
}
