.values {
  padding-top: 5.5rem;
  padding-bottom: 6rem;

  .values__title {
    margin-bottom: 21px;
  }

  .values__descr {
    margin-bottom: 61px;
  }

  .values__boxes-list {
    display: flex;
    column-gap: 185px;
  }

  .boxes__item {
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .boxes__img {
    width: 100%;
    height: 48px;
    margin-bottom: 22px;
    fill: var(--color-primary);
  }

  .boxes__title {
    margin-bottom: 10px;
  }

  &--benefits {
    position: relative;
    padding-top: 7.6rem;
    background-color: var(--color-grey-900);

    .values__boxes-list {
      margin-bottom: 66px;
    }

    .boxes__img {
      width: 100%;
      height: 48px;
      fill: var(--color-primary);
    }
  }

  &--benefits__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

  }

}
