.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--color-grey-900);
}

.descr {
    font-family: "Ubuntu", sans-serif;
    color: var(--color-grey-700);
    text-align: center;
}