*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
   display: block;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   font-size: 1rem;
   line-height: 1.5;
   text-align: left;
   color: #000000;
   background-color: #ffffff;
}

[tabindex="-1"]:focus {
   outline: 0 !important;
}

hr {
   overflow: visible;
   height: 0;
   box-sizing: content-box;
}

abbr[data-original-title],
abbr[title] {
   border-bottom: 0;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline;
   text-decoration: underline dotted;
   cursor: help;
   -webkit-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
}

address {
   font-style: normal;
   line-height: inherit;
}

dt {
   font-weight: 700;
}

dd {
   margin-left: 0;
   margin-bottom: 0.5rem;
}

b,
strong {
   font-weight: bolder;
}

small {
   font-size: 80%;
}

sub,
sup {
   position: relative;
   vertical-align: baseline;
   font-size: 75%;
   line-height: 0;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

a {
   display: inline-block;
   font-weight: inherit;
   text-decoration: none;
   color: inherit;
   background-color: transparent;


}

code,
kbd,
pre,
samp {
   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   font-size: 1em;
}

pre {
   overflow: auto;
   margin-top: 0;
   margin-bottom: 1rem;
}

img {
   vertical-align: middle;
   border-style: none;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
   max-height: 100%;
}

svg {
   vertical-align: middle;
   overflow: hidden;
}

table {
   border-collapse: collapse;
}

caption {
   caption-side: bottom;
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   text-align: left;
   color: #6c757d;
}

th {
   text-align: inherit;
}

label {
   display: inline-block;
}

button {
   -webkit-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   border: none;
   border-radius: 0;
   width: auto;
   box-shadow: none;
   -webkit-font-smoothing: inherit;
   background-color: transparent;
   cursor: pointer;
   -moz-osx-font-smoothing: inherit;
}

button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea,
details {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

select {
   word-wrap: normal;
}

select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border: none;
   font: inherit;
   background-color: transparent;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: button;
   appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
   cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
   padding: 0;
   box-sizing: border-box;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
   -webkit-appearance: listbox;
   appearance: listbox;
}

textarea {
   overflow: auto;
   resize: vertical;
}

fieldset {
   border: 0;
   min-width: 0;
}

legend {
   display: block;
   width: 100%;
   max-width: 100%;
   font-size: 1.5rem;
   line-height: inherit;
   white-space: normal;
   color: inherit;
}

progress {
   vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

[type="search"] {
   -webkit-appearance: none;
   appearance: none;
   outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   -webkit-appearance: button;
   font: inherit;
}

output {
   display: inline-block;
}

summary {
   display: list-item;
   cursor: pointer;
}

template {
   display: none;
}

[hidden] {
   display: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

summary {
   display: block;
}

summary::-webkit-details-marker {
   display: none;
}

ul,
ol,
dl {
   list-style: none;
}