:root {
   --color-white: #ffffff;
   --color-primary: #ff5a30;
   --color-primary-in-state: #fc3300;
   --color-grey-900: #1e212c;
   --color-grey-800: #424551;
   --color-grey-700: #787a80;
   --color-grey-600: #9a9ca5;
   --color-grey-500: #b3b7bc;
   --color-grey-400: #d7dadd;
   --color-grey-300: #e5e8ed;
   --color-grey-200: #f4f5f7;
   --color-grey-100: #f9f9f9;

   --section-offset: 120px;
}
